.page header {
        .header-content.for-desktop {
                position: fixed;
                width: 200px;
                top: 0;  bottom: 0;
                padding: 10px 0 0;
                background-color: #fff;
                overflow: hidden;
                z-index: 11;
                border-right: 1rem solid $main-color;
                @include displayFlex(column, nowrap, flex-start, flex-start, flex-start);
                
                @include respond(tab-port) {
                        display: none;
                }
                
                * {
                        -webkit-transition: all 0.2s ease-in-out;
                        -moz-transition: all 0.2s ease-in-out;
                        -o-transition: all 0.2s ease-in-out;
                        -ms-transition: all 0.2s ease-in-out;
                        transition: all 0.2s ease-in-out;
                }

                .main-title-block {
                        position: relative;
                        z-index: 1;
                        margin: 20px 20px 10px;
                        text-align: center;

                        .main-title {
                                font-size: 25px;
                                font-weight: 600;
                                font-style: normal;
                                line-height: 1.2em;
                                color: #333333;
                                letter-spacing: 0px;
                                margin: 20px 0 10px 0;
                        }
                        .main-role {
                                font-size: 14px;
                                font-weight: 600;
                                font-style: normal;
                                line-height: 1.2em;
                                color: #333333;  
                        }
                        .social-icons {
                                margin-top: 20px;
                                margin-bottom: 0;

                                
                                svg { width: 15px;}

                                a:nth-child(2) {
                                        svg { width: 10px;}
                                }
                                a:nth-child(3) {
                                        svg { width: 20px;}
                                }

                                * {
                                        color:#06799F;
                                        font-size: 15px;
                                }
                        }

                }

                .copyrights {
                        width: 100%;
                        position: absolute;
                        bottom: 1rem;
                        left: 0; right: 0;
                        padding: 1rem 1.5rem 1rem;
                        line-height: 14px;
                        font-size: 12px;
                        text-align: center;
                        color: #aeaeae;
                }
        }
        
        .header-content.for-mobile {
                display: none;

                @include respond(tab-port) {
                        display: block;
                }
        }
}

