.page header {
  .header-content.for-desktop {
    position: fixed;
    width: 200px;
    z-index: 11;
    overflow: hidden;
    padding: 10px 0 0;
    top: 0; bottom: 0;
    background-color: $color-white;
    border-right: 0.5rem solid $main-color;
    @include displayFlex(column, nowrap, flex-start, flex-start, flex-start);

    @include respond(tab-port) {
      display: none;

      &.hidden {
        display: none;
      }

      &.visible {
        border-right: 2px solid $main-color;
        display: block;
        width: 25%;
        height: 100vh;
      }
    }

    @include respond(phone) {
      &.visible {
        width: 35%;
      }
    }

    * {
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
    }

    .main-title-block {
      position: relative;
      z-index: 1;
      margin: 20px 20px 10px;
      text-align: center;

      @include respond(tab-port) {
        display: none;
      }
      .main-title {
        color: #333333;
        line-height: normal;
        margin: 20px 0 10px 0;
        font-family: "Merienda", cursive;
        font-size: var(--subtitle-font-size);
      }
      .main-role {
        color: #333333;
      }
      .social-icons {
        margin-top: 20px;
        margin-bottom: 0;

        svg {
          width: 15px;
        }

        a:nth-child(2) {
          svg {
            width: 10px;
          }
        }
        a:nth-child(3) {
          svg {
            width: 20px;
          }
        }

        * {
          color: #06799f;
        }
      }
    }

    .copyrights {
      width: 100%;
      position: absolute;
      bottom: 1rem;
      left: 0;
      right: 0;
      padding: 1rem 1.5rem 1rem;
      line-height: 14px;
      text-align: center;
      color: #aeaeae;
      font-size: 14px;
    }
  }

  .header-content.for-mobile {
    display: none;

    @include respond(tab-port) {
      @include displayFlex(row, nowrap, center, space-between, center);
      background-color: $color-white;
      border-bottom: 2px solid $main-color;
     // padding: 0 4rem 0 7rem;
      position: fixed;
      top: 0;
      left: 0;
      height: 90px;
      width: 100%;
      z-index: 99;

      h3 {
        color: $color-black;
        text-align: center;

        span {
          color: $main-color;
        }
      }

      button.menu-toggle {
        border: none;
        padding: 1rem 1rem 1rem 5rem;
        background-color: transparent;

        .icon {
          color: $main-color;
        }
      }
    }
  }
}
