// MEDIA QUERY MANAGER
/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint argument choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@mixin respond($breakpoint) {
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) { @content };        //600px
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) { @content };       //900px
    }
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) { @content };          //1200px
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) { @content };       //1800
    }
}

@mixin absCenter {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

@mixin clearfix {
    &::after {
        content: "";
        display: table;
        clear: both;
    }
}

@mixin displayFlex($flDirection, $flWrap, $flAContent, $flJContent, $flAAtimes ) {
    display: flex;
    flex-direction: $flDirection;
    flex-wrap: $flWrap;
    align-content: $flAContent;
    justify-content: $flJContent;
    align-items: $flAAtimes;
}

@mixin fonts($color, $size, $weight, $line-height, $decor) {
    color: $color;
    font-size: $size;
    font-weight: $weight;
    line-height: $line-height;
    text-decoration: $decor;
}

/* Hover Effect_1 (add under-border and change color of text */
@mixin liner-gradient {
    background-image: linear-gradient(
        to right,
        $main-color 20%,
        $main-color 50%,
        #fff 50%
    );
    background-size: 200% 100%;
    background-position: -100%;
    display: inline-block;
    padding: 5px 0;
    position: relative;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transition: all 0.3s ease-in-out;
    
    &:before {
        content: '';
        background: $main-color;
        display: block;
        position: absolute;
        bottom: -3px; left: 0;
        width: 0; height: 3px;
        transition: all 0.3s ease-in-out;
    }
        
    &:hover {
        background-position: 0;

        &::before {
            width:100%;
        }    
    }
}