*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tab-land) {
      font-size: 56.25%;
  }

  @include respond(tab-port) {
      font-size: 50%; 
  }
  
  @include respond(big-desktop) {
      font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  overflow-x: hidden;
  background-color: #100e17;
}

.container {
    position: relative;
    margin: 0 auto;
    z-index: 1;
    width: 60vw;
    // border: 1px dotted #dadada;
    margin-bottom: 5px; 
    @include respond(tab-land) {
        width: 80vw;
    }

    @include respond(tab-port) {
        width: 100%;
    }
}


#root {
    height: 100vh;

    /* Header, Navbar */
    header {
        position: fixed;
        width: 100%;
        top: 0; left: 0;
        z-index: 10;
        transition: .3s ease-in;
        overflow: hidden;
        background-color: #100e17;

        @include respond(tab-port) {
            max-width: 100%;
            background-color: $dark-transparant9;
        }
        
        /* Navbar */
        .navbar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin: 10px auto;
            height: 100%;
            padding: 0 1rem;

            @include respond(tab-port) {
                max-width: 100%;
            }

            .nav-menu {
                width: 100%; 
                display: flex;
                justify-content: space-between;
                list-style: none;
                
                @include respond(tab-port) {
                    position: fixed;
                    left: -100%; top: 90px;
                    flex-direction: column;
                    background-color: rgba(0,0,0,.9);
                    height: 90vh;
                    z-index: 999;
                    text-align: center;
                    transition: .3s;
                    
                    &.active {
                        left: 0; top: 50px;
                    }
                }

                .nav-item {
                    padding: 1rem;
                    font-weight: 500;
                    cursor: pointer;

                    @include respond(tab-port) {
                        margin: 1.5rem 0;
                    }
                    a {
                        color:#ffffff;
                        font-size: $menu-font-size;
                        font-family: 'Roboto', sans-serif;
                        font-weight: 500;
                        text-decoration: none;
                        
                        @include liner-gradient;
                    }
                }
            }
            .hamburger {
                display: none;
                @include respond(tab-port) {
                    display: block;
                }
            } 
        }   
    }

    /* Main block with sections */
    #main {
        .button {
            background-color: $main-light-color;
            font-size: $button-font-size;
            border: none;
            display: inline-block;
            margin: 0 auto 2rem;
            color: #ffffff;
            font-weight: 700;
            padding: 10px 30px;
        }

        /* Separate Sections */
        &__main-info {
            @include displayFlex(row, nowrap, center, center, center);
            height: 90vh;
            position: relative;
            background: url('./media/Homepage_back_1.jpg') no-repeat center center;
            background-size: cover;
            transition: all 1.5s;
            clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
            
            @include respond(tab-port) {
                clip-path: none;
                height: 50vh;
            }
            // &:hover {
            //     clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
            //     transform: scale(1.04);
            // } 

            &:after {
                content: '';
                position: absolute;
                width: 100%; height:100%;
                top:0; left:0;
                background: $dark-transparant8;
                opacity: 1; z-index: 0;
            }

            .main-info {
                @include displayFlex(row, nowrap, center, space-around, center);
                
                .chat-button {
                    border-top-left-radius: 20px;
                    border-top-right-radius: 20px;
                    border-bottom-right-radius: 20px;
                    border-bottom-left-radius: 0px;
                }

                .title {
                    font-size: $main-title-font-size;
                }

                .description {
                    font-size: $main-desc-font-size;
                    font-family: 'Cinzel';
                    word-spacing: 8px;
                }
                
                .social-icons {
                    margin: 3rem 2.2rem 0;

                    a {
                        color: #ffffff;
                        margin-right: 1.5rem;
                        transition: all 1s;

                        &:hover {
                            color: $main-light-color;
                        }
                    }
                }

                .personal-image {
                    border-radius: 50%;
                    border: 15px solid $dark-transparant9;
                    width: 300px; height: 300px;
                    background: url('./media/personal_image.jpeg') 100% 50% no-repeat;
                    background-size: 110%;
                }
            }
            
        }

        &__about {
            .about {
                @include displayFlex(row, nowrap, center, flex-start, center);
                margin-bottom: 8rem;

                .about-image {
                    background: url('./media/about_me_1.webp') center no-repeat;
                    background-size: contain;
                    width: 500px; height: 500px;
                    margin-right: 3rem;
                }

                .about-text {
                    width: 55%;

                    .description {
                        margin-bottom: 2rem;
                    }

                    .download-cv {
                        border-radius: calc($border-radius + 10px);
                        
                        // &:hover {
                        
                        // }
                    }
                }
            }
            
        }

        &__skills {
            .skills {
                @include displayFlex(row, nowrap, center, space-between, flex-start);
                margin-bottom: 8rem;
                
                h2 {
                    font-weight: 400;
                    letter-spacing: 1px;
                    margin-top: 40px;
                    margin-bottom: 20px;
                    color: #ffffff;
                    font-size: 16px;
                }
                
            }
        }

        &__experience {
            .experience {
                @include displayFlex(column, nowrap, center, space-between, flex-start);
                margin-bottom: 8rem;
                .education,
                .work-experience {
                    width: 100%;
                    margin-bottom: 20px;
                    .cards {
                        @include displayFlex(row, wrap, center, space-between, flex-start);
                    }
                }
            }
        }

        &__portfolio {
            .portfolio {
                margin-bottom: 8rem;

                .react-tabs {
                    margin-top: 2rem;
                    
                    .react-tabs__tab-list {
                        @include displayFlex(row, nowrap, center, space-between, center);
                        border: none;

                        .react-tabs__tab {
                            border: none;
                            padding: 20px 15px;
                            margin: 0 15px 0 0;
                            color: #ffffff;
                            text-align: center;
                            font-weight: 500;
                            font-size: $desc-font-size;
                            font-family: 'Roboto', sans-serif;
                           
                            
                            &--selected {
                                background-color: transparent;
                                border-bottom: 2px solid $main-light-color;
                            }
                        }
                    }
                    .react-tabs__tab-panel {
                        margin-top: 3rem;
                        @include displayFlex(row, nowrap, center, flex-start, flex-start);
                    }
                }
            }
        }

        &__contact {
            background-color: #f0efef;
        }
    }

    footer {

    }
}
