*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    overflow-x: hidden;
    box-sizing: border-box;
    background-color: $color-white; //#100e17
    color: $color-black;

    font-family: 'Roboto', sans-serif;
    font-size: var(--paragraph-font-size);
    font-weight: 400;
}


#root {
    height: 100vh;

    .page {
        position: relative;
        width: 100%;
        height: 100%;
    }

    /* Main block with sections */
    main {
        width: 100%;
        margin-left: 100px;

        @include respond(tab-port) {
            margin: 0 auto;
            width: 100%;
        }

        section {
            @include displayFlex(column, nowrap, center, center, center);
            padding: 2rem 0;
            min-height: 100vh;

            @include respond(tab-port) {
                min-height: max-content;
                padding: 2rem 0 0;
            }
        }
        
        #main-info {
            @include displayFlex(row, nowrap, center, center, center);
            position: relative;
            background: url('./media/Homepage_back_5.jpg') no-repeat center bottom;
            background-size: cover;
            transition: all 1.5s;
            
            @include respond(tab-port) {
                @include displayFlex(row, nowrap, flex-start, flex-start, flex-start);
                clip-path: none;
                min-height: 45vh;
                padding-top: 120px;
            }

            &:after {
                content: '';
                position: absolute;
                width: 100%; height:100%;
                top:0; left:0;
                background: $dark-transparent8;
                opacity: 1; z-index: 0;
            }

            .main-info {
                @include displayFlex(row, nowrap, center, flex-end, center);

                @include respond(tab-port) {
                    @include displayFlex(row, nowrap, flex-start, flex-start, flex-start);
                }

                & > div:nth-child(1) {
                    width: max-content;
                }
                
                h1 {
                    color: $color-white;
                }

                .position {
                    word-spacing: 5px;
                    color: $color-white;
                    font-family: "Merienda", cursive;
                    margin: $margin-bottom-medium 0;
                    font-size: var(--h3-font-size);
                }
            }
        }

        #about {
            .about {
                @include displayFlex(row, nowrap, center,  space-between, stretch);

                @include respond(tab-port) {
                    @include displayFlex(column, nowrap, center,  center, center);
                    width: 100%;
                }

                & > div {
                    width: 47%;

                    @include respond(tab-port) {
                        width: 100%;
                    }
                }

                .about-text {

                    a {
                        color: $color-black;

                        &:hover {
                            color: #06799F;
                        }
                    }
                    .button {
                        margin: 0;
                    }
                }

                .about-skills {
                    p {

                    }
                }
            }
            
        }

        #skills {
            .skills {
                @include displayFlex(row, nowrap, center, space-between, flex-start);
                
                @include respond(tab-port) {
                    @include displayFlex(column, nowrap, center, space-between, flex-start);
                    width: 100%;
                }

                & > div {
                    width: 46%;

                    @include respond(phone) {
                        width: 90%;
                        margin: 0 auto $margin-bottom-medium;
                    }
                }

                h2 {
                    font-weight: 400;
                    letter-spacing: 1px;
                    margin-top: 40px;
                    color: $color-black;
                }
                
            }
        }

        #experience {
            .experience {
                @include displayFlex(column, nowrap, center, space-between, flex-start);

                @include respond(tab-port) {
                    width: 100%;
                }

                .education,
                .work-experience {
                    width: 100%;

                    .cards {
                        @include displayFlex(row, wrap, center, space-between, flex-start);
                        margin-top: 2rem;

                        @include respond(phone) {
                            @include displayFlex(column, nowrap, center, space-between, center);
                        }
                    }
                }
            }
        }

        #portfolio {
            .portfolio {
                @include respond(tab-port) {
                    width: 100%;
                }

                .for-mobile-view {
                    @include respond(tab-port) {
                        @include displayGrid(1fr 2.5fr, 1fr, start, start, stretch, stretch);
                        column-gap: 24px;
                    }
                }

                .filter-block {
                    @include displayFlex(row, nowrap, center, space-between, center);
                    margin-bottom: $margin-bottom-medium;

                    @include respond(tab-port) {
                        @include displayFlex(column, nowrap, flex-start, flex-start, flex-start);
                        width: max-content;
                    }
                    
                    .button {
                        width: 15rem;
                        margin: 0 0 2rem;
                        padding: 1rem 2rem;
                        color: $color-black;
                        background-color: rgba($main-color-light, 0.1);

                        @include respond(tab-port) {
                            width: 100%;
                            margin: 0 0 10px;
                        }
                    }
                }
                .items-block {
                    margin-bottom: $margin-bottom-medium;
                    column-count: 3;
                    column-gap: 10px;
                    max-height: 625px;
                    overflow: hidden;

                    @include respond(tab-port) {
                        column-count: 2;
                        column-gap: 5px;
                        row-gap: 10px;
                    }

                    @include respond(phone) {
                        column-count: 1;
                    }

                    &.active {
                        max-height: max-content;
                        overflow: visible;
                    }

                    p {
                        text-align: center;
                        width: 100%;
                    }
                }
                .load-more {
                    margin: 1.5rem auto $margin-bottom-medium;
                    display: block;
                }
            }
        }

        #blog {
            .blog { 
                @include respond(tab-port) {
                    width: 100%;
                }

                .blog-items {
                    column-count: 3;
                    column-gap: 10px;

                    @include respond(phone) {
                        column-count: 1;
                    }

                    .card-view-img {
                        max-width: 100%;
                        width: 100%;
                        margin: 0;
                        margin-bottom: 1rem;
                    }
                }
            }
        }

        #reviews {
            .reviews {
                @include respond(tab-port) {
                    width: 100%;
                }

                .splide {
                    .splide__arrows {

                    }
                    .splide__track {
                        ul.splide__list {
                            li.splide__slide {
                                @include displayFlex(row, nowrap, center, space-between, center);
                                background-color: rgba($main-color-light, 0.1);
                                padding: 5rem;
                                gap: 2rem;

                                @include respond(phone) {
                                    @include displayFlex(column, nowrap, flex-start, flex-start, flex-start);
                                    text-align: center;
                                    padding: 2rem 5rem ;
                                }
                                &.is-active {
                                    
                                }

                                img {
                                    max-width: 150px;
                                    height: 150px;
                                    border-radius: 50%;
                                    object-fit: cover;

                                    @include respond(phone) {
                                        margin: 0 auto;
                                    }
                                }
                                .review-text {
                                    & > div {
                                        margin-bottom: $margin-bottom-small;
                                        width: 90%;

                                        @include respond(phone) {
                                            width: 90%;
                                        }
                                    }
                                    h5 {
                                        margin-bottom: 0.2rem;
                                    }
                                    & > p {
                                        font-style: italic;
                                        color: $main-color;
                                    } 
                                }
                            }
                        }
                    }
                    .splide__pagination {
                        .splide__pagination__page {
                            background: $color-gray;

                            &.is-active {
                                background: $main-color;
                            }
                        }
                    }
                }
            }
        }
        
        #contact {
            background: url('./media/map-color-overlay.png') no-repeat center;
            background-color: $color-black;
            background-size: contain;
            min-height: max-content;

            .contact {                  
                &__block {
                    @include displayFlex(row, nowrap, center, space-between, center); 
                    
                    .contact-info {
                        @include displayFlex(row, nowrap, center, space-between, center); 
                        position: relative;
                        width: 100%;

                        @include respond(tab-land) {
                            @include displayFlex(column, nowrap, center, space-between, center);
                        }

                        p {
                            background-color: rgba($main-color, 0.2);
                            padding: 30px 20px;
                            transition: all 0.5s;
    
                            @include respond(tab-land) {
                                width: 90%;
                            }
                            @include respond(tab-port) {
                                width: 100%;
                            }

                            &:hover svg {
                                border: 3px dashed $main-color;
                            }

                            svg {
                                border: 3px solid $main-color;
                                border-radius: 50%;
                                padding: 25px;
                                overflow: visible;

                                @include respond(tab-land) {
                                    padding: 20px;
                                    width: 65px;
                                    height: 65px;
                                }
                            }
                        }
                        .copied {
                            top: -35px; 
                        }
                    }
                   
                }

            }
            
        }
    }

    /* Footer, Copyright*/
    footer {
        .footer {
            @include displayFlex(row, nowrap, center, space-between, center);
            color: $color-black;
            line-height: 22px;
        }
    }
}
