/* Colors */
$main-dark-color: #1e1e25;
$main-light-color: #5abca1;
$text-color: #ffffff;

/* Sizes */
$title-font-size: 1.6rem;
$desc-font-size: 1.2rem;
$button-font-size: 1.3rem;

/* Other */
$dark-transparant9: rgba(0, 0, 0, .9);
$dark-transparant8: rgba(0, 0, 0, .8);
$dark-transparant7: rgba(0, 0, 0, .7);

$light-transparant9: rgba(255, 255, 255, .9);
$light-transparant8: rgba(255, 255, 255, .8);
$light-transparant7: rgba(255, 255, 255, .7);
