.card-view,
.card-view-img {
    padding: 20px;
    max-width: 49%;
    min-width: 49%;
    min-height: 240px;
    overflow: hidden;
    transition: all .3s ease-in-out;
    margin-bottom: $margin-bottom-medium;
    background-color: rgba($main-color, 0.1);
    @include displayFlex(column, nowrap, center, space-between, flex-start);

    &:hover {
        box-shadow: 2px 2px 10px rgba($main-color, 0.2);
    }

    @include respond(tab-port) {
        max-width: 100%;
        min-width: 100%;
        min-height: auto;
    }

    &__header {
        @include displayFlex(row, nowrap, center, space-between, center);
        
        border-bottom: 1px solid $main-color;
        margin-bottom: $margin-bottom-small;
        overflow: hidden;
        font-weight: 700;
        min-height: 65px;
        width: 100%;

        @include respond(tab-land) {
            min-height: 40px;
        }
        
        .cv-title {
            color: $color-black;
            padding: 1.1rem 0;
            text-align: left;
        }

        .cv-image {
            width: 100%;
        }

        .cv-place {
            text-align: right;
            
            a, span {
                color: $main-color-light;
                text-decoration: none;
                font-weight: 500;
            }
        }
    }

    &__date {
        font-size: var(--button-font-size);
        margin-bottom: $margin-bottom-small;
        color: $main-color-lighter;
    }

    &__desc {
        color: $color-black;
        margin-bottom: $margin-bottom-small;
    }

    &__buttons {
        button {
            background-color: transparent;
            color: $main-color-light;
            margin: 0 1.5rem 0 0;
            padding: 0;
        }
    }
   
}

.card-view-img {
    max-width: 33%;
    min-width: 33%;
    min-height: 520px;
    margin-top: 2.5rem;

    &__header {
        @include displayFlex(column, nowrap, center, space-between, center);

        .cv-image {
            width: auto;
            height: 200px;
        }
    }
    &__date { 
        span {
            //color: $color-white;
            font-weight: 700;
        }
    }

    @include respond(tab-land) {
        max-width: 90%;
        min-width: 90%;
        min-height: auto;
        margin: 2.5rem auto 0;
    }
}