.card-view,
.card-view-img {
    padding: 20px;
    max-width: 49%;
    min-width: 49%;
    min-height: 240px;
    overflow: hidden;
    background-color: $main-dark-color;
    border-radius: $border-radius;
    transition: all .5s ease-in-out;
    margin-bottom: $margin-bottom-medium;
    @include displayFlex(column, nowrap, center, space-between, flex-start);

    &:hover {
        box-shadow: 2px 2px 10px #2d2d2d;
        transform: scale(1.01)
    }

    @include respond(phone) {
        max-width: 90%;
        min-width: 90%;
        min-height: auto;
    }

    &__header {
        @include displayFlex(row, nowrap, center, space-between, center);
        
        border-bottom: 1px solid $main-light-color;
        margin-bottom: $margin-bottom-small;
        font-weight: 700;
        min-height: 65px;
        width: 100%;

        @include respond(tab-land) {
            min-height: auto;
        }

        .cv-title {
            color:#ffffff;
            text-align: left;
            font-size: calc($desc-font-size + 0.2rem);
        }

        .cv-image {
            width: 100%;
        }

        .cv-place {
            text-align: right;
            font-size: calc($desc-font-size + 0.2rem);
            
            a, span {
                color: $main-light-color;
                text-decoration: none;
            }
        }
    }

    &__date {
        margin-bottom: $margin-bottom-small;
        color: $main-light-color;
        font-weight: 700;
    }

    &__desc {
        color:#ffffff;
        line-height: 25px;
        font-size: $desc-font-size;

        margin-bottom: $margin-bottom-small;
    }

    button {
        font-size: $button-font-size;
        background-color: transparent;
        color: $main-light-color;
        font-weight: 600;
        margin: 10px 0 0;
        border: none;
        cursor: pointer;

        &:hover {
            text-decoration: underline;
        }
    }
}

.card-view-img {
    max-width: 33%;
    min-width: 33%;
    min-height: 220px;
    margin-top: 2.5rem;

    &__header {
        @include displayFlex(column, nowrap, center, space-between, center);
    }

    @include respond(tab-land) {
        max-width: 90%;
        min-width: 90%;
        min-height: auto;
        margin: 2.5rem auto 0;
    }
}