.contact-info {
    position: relative;
    margin-bottom: $margin-bottom-medium;
    p {
        @include displayFlex(row, nowrap, center, flex-start, center);
        margin-bottom: $margin-bottom-small;
        color: #ffffff;

        &:hover svg {
            transition: color .5s;
            color: $main-light-color;
        }

        span {
            margin-left: 10px;
        }
    }
    .copied {
        padding: 10px;
        border-radius: $border-radius;
        background-color: $dark-transparent7;
        position: absolute;
        left: 11%; bottom: -25px;
        transform: translate(50%, 50%);
    }
}