.contact-info {
    position: relative;
    margin-bottom: $margin-bottom-medium;
   
    p {
        @include displayFlex(row, nowrap, center, flex-start, center);
        margin-bottom: $margin-bottom-small;
        color: $color-white;

        &:hover svg {
            transition: color .5s;
            color: $main-color;
        }

        span {
            margin-left: 10px;
            cursor: copy;
        }
    }
    .copied {
        margin: 0 auto;
        padding: 7px 15px;
        text-align: center;
        position: absolute;
        left: 0; top: -30px; right: 0;
        background-color: rgba($main-color-darker, 0.4);
    }
}