.modal-back {
    width: 55%;
    height: max-content;
    max-height: 700px;
    z-index: 999;
    position: fixed;
    padding: 30px;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    border-radius: $border-radius;
    background-color: $main-color-darker;

    @include respond(tab-land) {
        width: 80%;
    }
    @include respond(phone) {
        width: 90%;
    }

    & > div {
        max-height: 100%;
        overflow-x: hidden;
        overflow-y: auto;

        &::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px rgb($main-color-lighter, 0.2); 
            border-radius: 10px;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba($main-color-light, 0.5); 
        }
        &::-webkit-scrollbar {
            width: 12px;
        }
    }

    header {
        color: $main-color-light;
        margin-bottom: $margin-bottom-medium;
    }

    main {
        color: $color-white;
        margin-bottom: $margin-bottom-medium;
        
        ul, li {
            list-style-position: inside;
            list-style-type: square;
        }
        
        h3 {
            font-style: italic;
            margin-bottom: 10px;
        }

        p, li {
            line-height: 27px;
            margin-bottom: 10px;
            text-indent: 10px;
            font-size: calc($desc-font-size + 0.1rem);
        }

        a {
            color: $main-color-lighter;
            //text-decoration: none;
            
            &:hover {
                color: $color-white;
                text-decoration: underline;
            }
        }

        img {
            max-width: 97%;
            text-align: center;
        }

        span {
            font-family: 'Source Code Pro';
            color: $main-color-light;
            font-size: calc($desc-font-size + 0.2rem);
            font-weight: 900;
        }
        code {
            background-color: $light-transparent7;
            padding: 10px;
            margin: 20px;
            display: block;
            white-space: pre-line;
        }
        hr {
            margin: 2rem 0;
        }
    }
    footer {
        button {
            background-color: rgba($main-color, .5);
        }
    }
}

.backdrop {
    background-color: $dark-transparent9;
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0; left: 0;
    z-index: 999;
 }