.program-items {
    margin-top: 4rem;
    
    & > p {
        font-style: italic;
        margin: 20px auto 10px;
    }

    h3 {
        margin-bottom: 15px;
    }

    .prog-item {
        display: inline-block;
        margin: 0 5px 5px 0;
        transition: all 0.5s;
        position: relative;
        padding: 10px;

        a {
            &.btn-1 {
                position: static;
            }

            text-decoration: none;
            color: $color-black;
            position: relative;
            z-index: 9;
        }
    }
}
