.program-items {
    margin-top: calc($margin-bottom-big + 2.5rem);
    
    .prog-item {
        font-size: $button-font-size;
        display: inline-block;
        margin: 0 5px 15px 0;
        transition: all 0.5s;
        position: relative;
        padding: 10px;
        
        a {
            text-decoration: none;
            color: $color-white;
        }
    }
}
