.program-items {
    margin-bottom: $margin-bottom-medium;
    
    .prog-item {
        border: 1px solid $main-light-color;
        border-radius: $border-radius;
        font-size: $button-font-size;
        padding: 10px;
        margin: 0 5px 15px 0;
        display: inline-block;
        
        a {
            text-decoration: none;
            color: #ffffff;
        }
    }
}
