.title {
    word-spacing: 8px;
    margin-bottom: $margin-bottom-small;

    @include respond(phone) {
        word-spacing: 15px;
        text-align: center;
    }
}

.description {
    margin-bottom: $margin-bottom-big;

    p {
        margin-bottom: 8px;
        text-align: justify;
    }
}