.title {
    font-family: 'Cinzel';
    font-weight: 800;
    word-spacing: 22px;
    font-size: $title-font-size;
    margin-bottom: $margin-bottom-small;

    @include respond(phone) {
        word-spacing: 15px;
        text-align: center;
    }
}

.description {
    font-weight: 500;
    line-height: 25px;
    font-size: $desc-font-size;
    margin-bottom: $margin-bottom-big;
}